body
{
    background-color: bisque;
    font-family: Tahoma;
}

header
{
    color: red;
    text-decoration: underline;
}

#wrapper
{

}

footer
{
    background-color: blue;
    color: red;
}

/* Opdracht 3.2 */
.go
{
    color: forestgreen;
}

.stop
{
    color: red;
}

/* Opdracht 4.2 */
span
{
    font-weight: bold;
}

/* Eindopdracht 1 */
